# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out

# Go workspace file (Go 1.18+)
go.work
go.work.sum

# Dependency directories (remove if you're using Go modules)
vendor/

# IDE/editor settings
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
bin/
dist/
.env
storage